[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "stressaddition"]
	path = stressaddition
	url = https://github.com/farbfetzen/stressaddition
	shallow = true
	registered = true
